:root {
    --blanco: #ffffff;
    --negro: #000000;
    --oscuro:#252525;
    --verde: #08A880;
    --gris: #D9D9D9;
    --colorArrow: rgba(255,255,255,0.7);
    --medium: #ffc017 ;
    --whatsapp :#00bb2d;
    --mail: #db4a39 ;
    --linkedin: #0077b5;
    --twitter: #1da1f2 ;
    --instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, 
    #fdf497 5%,#fd5949 45%, #d6249f 60%,#285AEB 90%);

    --Font:   'Montserrat', sans-serif;
}


/**** Globales ****/
html {
    font-size: 62.5%;
    box-sizing: border-box; /*** hack para box model ***/
}
*,*::before, *::after {
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}
body {
    font-size: 1.6rem; /*** 1rem = 10px ***/
    font-family: var(--Font);
    background-color: var(--oscuro);
}


/**** Tipografia ****/
h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
}


/**** Utilidades ****/
.titulos {
    color: var(--gris);
    padding: 4rem;
}


/**** Navegacion ****/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5rem 10rem;
    height: 13rem;
}
.navegacion__menu .active{
    color: var(--verde);
 }
.fa-bars , .fa-times , .navegacion__hamburguesa {
    display: none;
}
.navegacion__menu a{
    color: var(--blanco);
    font-size: 2.3rem;
    font-weight: 700;
    margin-right: 5rem;
 }
    /**** Boton de Idioma ****/
.navegacion__idioma {
    display: flex;
    justify-content: end;
    max-width: 10rem;
    height: 3rem;
}
.navegacion__idioma--es {
    background-color: var(--verde);
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}
.navegacion__idioma--en {
    background-color: var(--blanco);
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}
.navegacion__idioma--a {
    font-weight: 700;
    border: solid 0.1rem transparent;
    color: var(--negro);
    padding: 0.5rem 1rem;
}
.navegacion__idioma--a:hover {
    background-color: var(--verde);
    transition: .3s;
}
.navegacion__menu a:hover {
    color: var(--verde);
    transition: .3s;
}
    /**** Navegacion Responsive ****/
@media (max-width: 769px)  {
    .navegacion__menu {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;   
        background-color:  rgba(0, 0, 0,.7);
        top: 7rem;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .navegacion__hamburguesa {
        opacity: 0;
        width: 5.7rem;
        height: 6.2rem;
        margin-top: 4rem;
    }
    .navegacion__menu--link {
        display: block;
        margin: 5rem 0;
        line-height: 3rem;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    } 
    .navegacion__hamburguesa,.fa-bars,.fa-times {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 1.5rem;
        right: 0;
        top: 0;
        left: 0;
    }
    .fa-bars , .fa-times , .navegacion__hamburguesa {
        display: block;
    }
    .fa-bars,.fa-times {
        font-size: 4.8rem;
        pointer-events: none;
    }
    .navegacion__hamburguesa:checked  ~ .navegacion__checkbtn {
        display: none;
    }     
    .navegacion__hamburguesa:not(:checked) ~ .fa-times {
        display: none;
    }   
    .navegacion__checkbtn, .fa-times  {
        color: var(--blanco);
        font-size: 4.5rem;
        line-height: 7rem;
        cursor: pointer;
    }   
    .navegacion__hamburguesa:checked ~ .navegacion__menu {
        left: 0;
    } 
    .navegacion__idioma {
        justify-content: center;
        margin: 3rem auto;
    }
    .iconos {
        justify-content: center;
        margin-top: 20rem;
    }
}
@media (max-width: 1024px)  {
    .navegacion__menu a{
        font-size: 1.8rem;
        margin-right: 2rem;
     }
}


/**** Hero ****/
.hero {
    
    background: rgba(37, 37, 37, 0.927) url('../img/hero.png');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60rem;
    margin-bottom: 1.5rem;
}
.container__hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.titulos--agust{
    color: var(--verde);
    font-size: 6.4rem;
    font-weight: 700;
    margin-bottom: 0;
}
.sub__titulo--agust{
    color: var(--gris);
    font-size: 4.8rem;
    font-weight: 500;
    margin-top: 0;
}


/**** Iconos ****/
.iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15rem;
}
.icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 3rem;
}
.icon {
    width: 4rem;
    height: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 3.5rem;
    color: var(--gris);
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}
.icon:hover i {
    animation: shake .35s;
}
.icon--whatsapp:hover {
    background-color: var(--whatsapp);
}
.icon--instagram:hover {
    background-image: var(--instagram);
}
.icon--medium:hover {
    background-color: var(--medium);
}
.icon--twitter:hover {
    background-color: var(--twitter);
}
.icon--linkedin:hover {
    background-color: var(--linkedin);
}
.icon--mail:hover {
    background-color: var(--mail);
}
@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}


/**** Productos ****/
.productos {
    display: flex;
    width: 100%;
    height:150rem;
}
    /**** Aside ****/
.productos__aside {
    max-width: 30rem;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.productos__aside img {
    max-width: 25rem;
    max-height: 25rem;
    margin: 0;
}
.productos__aside--card {
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.productos__aside--titulo {
    color: var(--blanco);
    font-size: 4.8rem;
    font-weight: 500;
    margin: 0 0 1rem 0;
}
.productos__aside--texto {
    color: var(--blanco);
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
}
    /**** Carousel de Productos ****/
.Carousel {
    width: 100%;
    margin-bottom: 16rem;
    margin-top: 6rem;
}
    /**** Imagenes ****/  
.slick-list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 31rem;
    padding: 10px 0px ;
    margin: 0px auto;
    max-width: 72vw;
    overflow: hidden;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick {
    position: relative;
    width: 35rem;
    padding: 0 1.8rem;
    float: left;
    box-sizing: border-box;
    display: flex;
}
.slick a img {
    object-fit: cover;
    height: 33rem;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover {
    opacity: .85;
} 
    /**** botones ****/
.slick-arrow{
    border-radius: 3rem;
    background-color: var(--colorArrow);
    position: absolute;
    z-index: 4;
    width: 4.8rem;
    height: 4.8rem;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:hover {
    background-color: var(--blanco);
}
.slick-arrow:focus {
    outline: 0;
}
.slick-arrow svg {
    width: 1.2rem;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev {
    left: 0px;
}
.slick-next {
    right: 0px;
}


/**** Proveedores *****/
.container__proveedor{
    width: 100%;
    background-color: var(--negro);
}
.titulo__proveedor{
    color: var(--gris);
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
    
}
.orden__marcas{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    margin-top: 3.5rem;
    padding: 2rem  3rem 2rem 5rem;
}


/***** Sobre Mi ******/
.titulo__sobremi{
    margin: 13rem 0;
}
.sobremi{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    
}
.parrafo__subtitulo-1{
    color: var(--verde);
    font-weight: 700;
    font-size: 2.4rem;
}
.parrafo-1{
    font-size: 2.2rem;
    color: var(--blanco);
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 4rem;
}

/**** Servicios ****/
.servicios {
    background-color: var(--negro);
}
.servicios__article {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 6rem 3rem;
}
.servicios p{
    text-align: center;
    font-size: 2.2rem; 
}
.servicios__titulo {
    color: var(--verde);
}
.servicios__texto {
    color: var(--blanco);
}


/**** Publicaciones ****/
.publicaciones {
    display: flex;
    justify-content: space-between;
}
.publicaciones__maradona {
    flex: 0 0 calc(50% - 2rem);
    text-align: center;
}
.publicaciones__texto {
    color: var(--blanco);
    text-align: center;
    font-size: 2.2rem;
}
.publicaciones__maradona--img1{
    max-width: 44rem;
    max-height: 26rem;
}
.publicaciones__maradona--img1{
    max-width: 50rem;
    max-height: 26rem;
}


